
#root
  .home-page.theme-dark{:style => "height: 100%;"}
    =render :partial => 'account_header.html'
    =render :partial => 'account_body.html'
    =render :partial => 'footer.html'
=render :partial => 'account_script.html'
=render :partial => 'utils_script.html'
