
#root
  .home-page.theme-dark
    =render :partial => 'referral_header.html'
    =render :partial => 'referral_body.html'
    =render :partial => 'footer.html'
=render :partial => 'referral_script.html'
=render :partial => 'utils_script.html'
