
#root
  .home-page.theme-dark{:style => "display: flex; flex-direction: column; height: 100%;"}
    =render :partial => 'reward_header.html'
    =render :partial => 'reward_body.html'
    =render :partial => 'footer.html'
=render :partial => 'reward_script.html'
=render :partial => 'utils_script.html'
