#trade_workspace
  =render :partial => 'header'
  =render :partial => 'notice'
  .row.tmom-row.react-tabs{"data-tabs" => "true"}
    #wallet_widget
      %aside.wallet
        .wallet-header
          %span.wallet-title.left-item{'data-i18n' => 'wallet'} Wallet
          %button.btn.btn-danger.closebtn
            %i.fa.fa-power-off
          .wallet-search-wrapper.right-item{:style => "position: relative;"}
            .wallet-search.right-item
              %input.wallet-search-input{:type => "text", 'data-i18n' => '[placeholder]search..'}
              %a.wallet-search-btn{:href => "javascript:void(0)"}
                .fa.fa-search.text-success
            .wallet-balance.right-item{:style => "position: relative; margin-top: 0.5rem; margin-left: 15px;"}
              %label.wallet-my-tokens-label.right-item{:for=>"wallet_my_tokens",'data-i18n' => 'only_show_balance'}  Only show my balance
              %input.wallet-my-tokens-input.right-item{:type=>"checkbox", :id=>"wallet_my_tokens", :name=>"wallet_my_tokens"}
              %input.wallet-prev-search{:type=>"hidden", :value=>""}
          %div{:style => "clear:both;"}
        .clear-float
        .wallet-body
          .box-content
            .row.wrap-container
              .col-md-6
                .row
                  .col-sm-2
                    %label
                      %span ETH
                  .col-sm-4
                    %label.eth-balance
                      %i.fa.fa-spinner.fa-spin
                      %span{:style => "display:none"}
                  .col-sm-2
                    %label
                      %i.fa.fa-sync.eth-sync
                  .col-sm-4
                    %button.btn.btn-success.eth-token-transfer{'data-i18n' => 'send', 'data-toggle' => 'modal', 'data-target' => '#send_token_modal', 'data-decimal' => '18' }
                .row
                  .col-sm-7
                    %input.form-control.wrap-amount{:autocomplete => "off", :placeholder => "0.00"}
                    %span.text-danger.wrap-alert
                  .col-sm-5
                    %button.btn.btn-success.btn-md.btn-wrap.disabled
                      %span{'data-i18n' => 'wrap'} WRAP
                    %i.fa.fa-question-circle{"aria-hidden" => "true"}
                      %span.fee-tip.text-left.bottom
                        %div
                          %span{'data-i18n' => 'wrap_eth_help'}


              .col-md-6
                .row
                  .col-sm-2
                    %label
                      %span WETH
                  .col-sm-3
                    %label.weth-balance
                      %i.fa.fa-spinner.fa-spin
                      %span{:style => "display:none"}
                  .col-sm-3.weth-allowance
                    %label
                      %i.fa.fa-sync.weth-sync
                    %label.float-right.wallet-weth-allow
                      %i.fa.fa-spinner.fa-spin
                      %label.switch{:style=>"display:none"}
                        %input.wal-weth-allow{"data-toggle" => "toggle", :type =>"checkbox"}
                        %span.slider.round
                    %i.fa.fa-question-circle{"aria-hidden" => "true"}
                      %span.fee-tip.text-left.bottom
                        %div
                          %span{'data-i18n' => 'wal_weth_allow_help'}
                          .clear-fix
                  .col-sm-4
                    %button.btn.btn-success.weth-token-transfer{'data-i18n' => 'send', 'data-toggle' => 'modal', 'data-target' => '#send_token_modal', 'data-decimal' => '18' }

                .row
                  .col-sm-8
                    %input.form-control.unwrap-amount{:autocomplete => "off", :placeholder => "0.00"}
                    %span.text-danger.unwrap-alert
                  .col-sm-4
                    %button.btn.btn-danger.btn-md.btn-unwrap.disabled
                      %span{'data-i18n' => 'unwrap'} UNWRAP

          .hidden-token-contents
            - @tokens_list.each do |token|
              %input{:class=>"token-item token-item-" + token.symbol, :type=>"hidden", :"data-symbol"=>token.symbol, :"data-name"=>token.name, :"data-address"=>token.contract_address, :"data-decimal"=>token.token_decimals}
          %table.wallet-token-table.table-striped
            %thead
              %tr
                %th.wallet-token-symbol{'data-i18n' => 'symbol'} Token
                %th.wallet-token-name{'data-i18n' => 'name'} Name
                %th.wallet-token-etherscan{'data-i18n' => 'address'} Address
                %th.wallet-token-balance{'data-i18n' => 'balance'} Balance
                %th.wallet-token-tradable
                  %div{"style" => "height: 1rem;"}
                    %div{"style" => "position: absolute;"}
                      %span{'data-i18n' => 'tradable/untradable'}
                      %i.fa.fa-question-circle{"aria-hidden" => "true"}
                        %span.fee-tip.text-left.bottom
                          %div
                            %span{'data-i18n' => 'tradable_untradable_help'}
                %th.wallet-token-tradable
                  %span{'data-i18n' => 'transfer'} Transfer
            %tbody.wallet-token-list
          %ul.pagination#pagination
      #send_token_modal.modal.fade{:role => "dialog"}
        .modal-dialog
          .modal-content
            .modal-header
              %h4.modal-title Send token to Address
            .modal-body
              %form
                .form-group
                  %input.form-control.send-token-info{:type => "hidden","data-address" =>"","data-decimal" => "","data-balance" => ""}/
                  %label Recipient Address:
                  %input.form-control.receive-wallet-address{:type => "text", :placeholder => "0x0"}/
                  %label.ethereum-wallet-state{:style => "display:none"} Invalid ethereum address.
                .form-group
                  %label Amount (Available:
                  %a.send-max-amount{:href => "javascript:void(0)", :tabindex => "-1"}
                  %span.send-token-symbol
                  %input.form-control.receive-token-amount{:type => "text", :placeholder => "0.0"}
                  %label.token-balance-state{:style => "display:none"} Insufficient balance.
            .modal-footer
              %button.btn.btn-danger.btn-cancel-tradebyaddr{:type => "button","data-dismiss" => "modal"}
                %span{"data-i18n" => "cancel"}
              %button.btn.btn-success.send-token-button.disabled{:type => "button","data-dismiss" => "modal"}
                %span{"data-i18n" => "send"} Send
      #confirm_modal.modal.wallet-modal.fade{:role => "dialog"}
        .modal-dialog
          .modal-content
            .modal-header
              %h4.modal-title{"data-i18n" => "successfully_sent"}
            .modal-body
              .control-wrapper
                .item-label
                  %label{:title => "Transaction Hash","data-i18n" => "transaction_hash"}
                .item-control.has-error
                  %span
                    %a.transaction-hash {"target" => "_blank"}
                  %span.text-danger
            .modal-footer
              %button.btn.btn-danger.btn-confirm-modal-ok{:type => "button","data-dismiss" => "modal"}
                %span{"data-i18n" => "ok"}
  .alert.alert-success.alert-order{:style => 'display:none'}
    %strong{'data-i18n' => 'success'} Success
    %span{'data-i18n' => 'create_order'} You have been created order in successfully!
  .alert.alert-success.alert-trade{:style => 'display:none'}
    %strong{'data-i18n' => 'success'} Success
    %span{'data-i18n' => 'create_trade'} Your order has been successfully completed.
  .alert.alert-success.alert-fail-trade{:style => 'display:none'}
    %strong{'data-i18n' => 'fail'} Fail
    %span{'data-i18n' => 'create_trade_fail'} Your order has been failed.
  .alert.alert-success.alert-balance{:style => 'display:none'}
    %strong{'data-i18n' => 'fail'} Fail
    %span{'data-i18n' => 'balance_empty'} You have not enough balance.

=render :partial => 'index_script.html'
=render :partial => 'wallet_script.html'
=render :partial => 'overview_script.html'
=render :partial => 'utils_script.html'
